<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">
    <script src="https://lf1-cdn-tos.bytegoofy.com/obj/iconpark/icons_23037_2.2c28f2afc64b92ec2211d16eac032dd5.js"></script>
    <title>{{title}}</title>
</head>

<body>
<header>
    <a class="logo">
        <img alt="avatar"
             src="https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=720&h=800&q=80"/>
    </a>
    <div class="description">
        <h1>Uniiiiiiiiix</h1>
        <h2>Somethings...</h2>
        <nav>
            <div class="bitcron_nav_container">
                <div class="bitcron_nav">
                    <div class="mixed_site_nav_wrap site_nav_wrap">
                        <ul class="mixed_site_nav site_nav sm sm-base.hbs">
                            <li><a href="#" class="selected active current nav__item">首页</a></li>
                            <li><a class=" nav__item" href="/archive">归档</a></li>
                            <li><a class=" nav__item" href="#">管理</a></li>
                        </ul>
                        <div class="clear clear_nav_inline_end">
                        </div>
                    </div>
                </div>
                <div class="clear clear_nav_end"></div>
            </div>
        </nav>
    </div>
</header>
<main>
    {{> index}}
</main>
</body>
</html>

